<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
  </packageSources>
  <packageSourceCredentials>
    <github>
        <add key="Username" value="NUGET_USER" />
        <add key="ClearTextPassword" value="NUGET_PWD" />
      </github>
  </packageSourceCredentials>
</configuration>
